/* Author : Sarah-Hao */

@import url('https://fonts.googleapis.com/css2?family=Anton:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto Condensed:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700;1,900&display=swap');
:root {
    --background: rgb(0, 0, 0);
    --background2: rgb(21, 29, 57);
    --text: rgb(182, 182, 182);
    --text-light: rgb(177, 182, 241);
    --primary1: rgb(163, 163, 163);
    --primary2: rgb(163, 163, 163);
    --secondary1: rgb(92, 0, 121);
    --secondary2: rgb(255, 255, 255);
    --inactive: rgb(107, 116, 241);
    --white: white;
    

    --cplusplus: #1e66ec;
    --qt: #1c8a39;
    --jira: #2d777c;
    --figma: #b63737;
    --react: #0078d4;
    --github: #1d1d1d;
    --html: #9e5731;
    --css: #20457a;
    --js: #407855;
    --csharp: #a254e7;
    --devops: #4da3ff;

    --primary-light: normal normal normal 70px "Anton";
    --primary-bold: normal normal 700 70px "Anton";
    --secondary-light: normal normal normal 20px "Anton";
    --secondary-medium: normal normal 500 20px "Anton";
    --secondary-bold: normal normal 700 40px "Anton";
    --tertiary-light: normal normal 400 15px "Roboto Condensed";
    --tertiary-medium: normal normal 500 15px "Roboto Condensed";
    --tertiary-bold: normal normal bold 15px "Roboto Condensed";
    --tiny-regular: normal normal normal 9px "Roboto Condensed";
}

.icon_medium {
    cursor: pointer;
    width: 24px;
    height: 24px;
    color: var(--text);
}

.icon_small{
    cursor: pointer;
    width: 13px;
    height: 13px;
    color: var(--text);
}

body {
    overflow: hidden;
    position: fixed;
    top: -8px;
    left: -8px;
}


* {
    box-sizing: border-box;
    letter-spacing: 1.3px;
}

footer {
    font: var(--tiny-regular);
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: rgba(255,255,255, 0.1);
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    background-color: var(--background);
    background-image: url(./src/img/background.svg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font: var(--tertiary-light);
    color: var(--text);
}

.timeline_scrollable {
    display: block;
    overflow: hidden;
    overflow-x: scroll;

    height: 50px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.timeline {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: 5000px;
    height: 100%;
    border-bottom: 2px solid var(--inactive);
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

/* ================ sideBar====================== */

.sidebar_container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.sidebar_Btn {
    width: 24px;
    height: 100%;
    border-left: 2px solid var(--inactive);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar_Btn .iconify {
    font-size: 3em;
    color: var(--text-light);
}

.sidebar_Btn .iconify:hover {
    color: white;
    transform: scale(1.2);
}

.sidebar_Btn .iconify:active{
    color: white;
    transform: scale(1.2);
}


.sidebar_scrollable {
    display: block;
    overflow: hidden;
    overflow-y: scroll;

    width: 270px;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;

    scroll-snap-type: y mandatory;
    transition: all 1s ease;
    background: rgba(0,0,0,0.7);
    color: var(--text-light);
    padding-bottom: 200px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 270px;
    height: 1000px;
    gap: 10px;
    padding: 10px;
}


.sidebar div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: auto;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;

    scroll-snap-align: start;
    padding: 10px 10px 20px 10px;
    gap: 10px;
}


.sidebar div:nth-child(odd) {
    border-bottom: 0.5px solid var(--inactive);
}

.sidebar div:nth-child(1) {
    padding-top: 30px;
}

.slide_out {
    position: relative;
    animation: slide_out 0.5s;
    animation-fill-mode: forwards;
}
.slide_in {
    position: relative;
    animation: slide_in 0.5s;
    animation-fill-mode: forwards;
}


/* ================================================= */


.pages_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.pages_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    height: 50px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.pages_menu_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;

    gap: 5px;
    padding: 10px;
    cursor: pointer;
}

.pages_menu_item::after {
    content: '';
    display: block;
    height: 1px;
    width: 0%;
    background-color: var(--text);
    transition: all 0.5s ease;
}

.pages_menu_item:hover::after {
    width: 100%;
}

.active {
    font: var(--tertiary-bold);
}

.active::after {
    content: '';
    display: block;
    height: 1px;
    width: 50%;
    background-color: var(--text);
    transition: all 0.5s ease;
}

.page_scrollable {
    display: block;
    overflow: hidden;
    overflow-y: scroll;

    width: 100%;
    height: calc(100vh - 10px);
    flex-grow: 1;
    flex-shrink: 1;

    scroll-snap-type: y mandatory;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 10px;
}


/* ============== Loading animation ================== */
.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background);
    /* background: rgb(40,19,55); */
    /* background: linear-gradient(90deg, rgba(40,19,55,1) 0%, rgba(31,22,69,1) 50%, rgba(21,29,57,1) 100%); */
    z-index: 1000;
}

.loading lottie-player {
    width: 50px;
    height: auto;
    position: relative;
    top: 0px;
}

.loading p {
    font: var(--secondary-light);
    padding: 0 50px 0 50px;
    position: relative;
    top: 0px;
    color: rgb(98, 153, 255);
    font-size: 35px;
}

/* ============== Hide scrollbar for Chrome ================== */

.timeline_scrollable::-webkit-scrollbar {
    display: none;
}

.sidebar_scrollable::-webkit-scrollbar {
    display: none;
}

.page_scrollable::-webkit-scrollbar {
    display: none;
}


@media screen and (max-width: 768px) {
    .sidebar-scrollable {
        width: 0px;
    }
}

@keyframes slide_out {
    0% {left: 0;}
    100% {left: -300px;}
}
@keyframes slide_in {
    0% {left: -300px;}
    100% {left: 0px;}
}



