/* Author : Sarah-Hao */
    .project {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;

        flex-wrap: wrap;
        gap: 100px;
        height: auto;
        width: 100%;
        padding: 0px 0px 500px 0px;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        
        gap: 10px;
        height: auto;
        width: clamp(200px, 50%, 400px);
        flex-grow: 0;
        flex-shrink: 0;

        scroll-snap-align: start;
        padding: 50px 0px 0px 0px;
        /* border: 1px solid red; */
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        height: auto;
        width: clamp(200px, 50%, 400px);
        flex-grow: 0;
        flex-shrink: 0;

        scroll-snap-align: start;
        padding: 200px 0px 0px 0px;
        /* border: 1px solid red; */
    }


    .project .left .subtitle {
        width: 100%;
        font: var(--primary-bold);
        color: var(--secondary2);
    }

    .project .left .title {
        width: 100%;
        font: var(--secondary-light);
        color: var(--text-light);
    }

    .project .left .state {
        width: 100%;
        color: var(--primary2);
    }

    .project .left .description {
        font: var(--tertiary-light);
        line-height: 25px;
    }

    .project .left .description em {
        filter: brightness(1.2);
        font: var(--tertiary-bold);
    }


    .tags {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        width: 100%;
        height: auto;
        flex-grow: 0;
        flex-shrink: 0;
        flex-wrap: wrap;

        gap: 10px;
    }

    .underline {
        text-decoration: underline;
        color: var(--primary2);
        cursor: pointer;
    }



    /* =============== tag ================= */
    .icon_medium {
        cursor: pointer;
        width: 24px;
        height: 24px;
        color: var(--text);
    }

    .icon_small{
        cursor: pointer;
        width: 13px;
        height: 13px;
        color: var(--text);
    }

    .tag {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: auto;
        height: auto;
        flex-grow: 0;
        flex-shrink: 0;

        gap: 10px;
        padding: 3px 15px 3px 5px;
        border-radius: 0 50px 50px 0;

        animation: expand 1.5s ease;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        opacity: 0;
    }


    .song {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;

        flex-wrap: wrap;
        gap: 10px;
        height: auto;
        width: clamp(200px, 100%, 1000px);
        padding: 10px;
        margin: 10px 0 20px 0;
        border-radius: 10px;

        /* background: linear-gradient(123.23deg, rgba(47, 128, 237, 1) -1.05%, rgba(210, 137, 255, 1) 101.37%);
        background-blend-mode: lighten; */
        
    }

    .song iframe {
        height: 80px;
        width: 100%;
        border-radius: 10px;
        animation: top-flip 1s ease;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    @keyframes top-flip {
        0% {transform: rotateX(90deg); transform-origin: top;}
        100% {opacity: 1; }
        
    }


    @keyframes expand {
        0% {transform: translateX(-300px);}
        100% {opacity: 1; }
    }

    @media screen and (max-width: 600px) {
        .project .left .title {
            font-size: 17px;
        }
        .project .left .subtitle {
            font-size: 50px;
        }
    }